<div class="main">
  <div class="row">
    <div class="col first-col">
      <a class="select-menu" routerLink="/createconsumer">
        <mat-card class="card">
          <div class="container">
            <h1 class="head1">CREATE CONSUMER BUSINESS</h1>
          </div>
        </mat-card>
      </a>
    </div>
    <div class="col">
      <a class="select-menu" routerLink="/updateconsumer">
        <mat-card class="card">
          <div class="container">
            <h1 class="head1">UPDATE CONSUMER BUSINESS</h1>
          </div>
        </mat-card>
      </a>
    </div>
    <div class="col">
      <a class="select-menu" [routerLink]="['/viewconsumer']">
        <mat-card class="card">
          <div class="container">
            <h1 class="head1">VIEW CONSUMER BUSINESS</h1>
          </div>
        </mat-card>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col first-col">
      <a class="select-menu" [routerLink]="['/createproperty']">
        <mat-card class="card">
          <div class="container">
            <h1 class="head1">CREATE BUSINESS PROPERTY</h1>
          </div>
        </mat-card>
      </a>
    </div>
    <div class="col">
      <a class="select-menu" routerLink="/updateproperty">
        <mat-card class="card">
          <div class="container">
            <h1 class="head1">UPDATE BUSINESS PROPERTY</h1>
          </div>
        </mat-card>
      </a>
    </div>
    <div class="col">
      <a class="select-menu" routerLink="/viewproperty">
        <mat-card class="card">
          <div class="container">
            <h1 class="head1">VIEW CONSUMER PROPERTY</h1>
          </div>
        </mat-card>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col first-col">
      <a class="select-menu" routerLink="/createpolicy">
        <mat-card class="card">
          <div class="container">
            <h1 class="head1">CREATE POLICY</h1>
          </div>
        </mat-card>
      </a>
    </div>
    <div class="col">
      <a class="select-menu" routerLink="/issuepolicy">
        <mat-card class="card">
          <div class="container">
            <h1 class="head1">ISSUE POLICY</h1>
          </div>
        </mat-card>
      </a>
    </div>
    <div class="col">
      <a class="select-menu" routerLink="/viewpolicy">
        <mat-card class="card">
          <div class="container">
            <h1 class="head1">VIEW POLICY</h1>
          </div>
        </mat-card>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col first-col">
      <a class="select-menu" routerLink="/viewquotes">
        <mat-card class="card">
          <div class="container">
            <h1 class="head1">VIEW QUOTES FOR POLICY</h1>
          </div>
        </mat-card>
      </a>
    </div>
  </div>
</div>
