<div class="home">
  <h1 class="heading">Welcome to Policy Administration System</h1>
  <h3>
    A leading Insurance Management Organization offers Business insurance that
    protects businesses from losses due to events that may occur during the
    normal course of business. There are many types of insurance it provides for
    businesses including coverage for property damage, legal liability and
    employee-related risks. Companies evaluate their insurance needs based on
    potential risks, which can vary depending on the type of environment in
    which the company operates. Business insurance refers broadly to a class of
    insurance coverage intended for purchase by businesses rather than
    individuals. Quotes will get generated based on the consumer business and if
    the consumer is fine with the quote, then the policy will be issued. A quote
    is an estimate of premium for the insurance coverage you selected and
    information you entered.
  </h3>
</div>
<app-footer></app-footer>
