<h1 class="heading">Policy Administration System</h1>

<div class="row">
  <div class="col-md"></div>

  <div class="col-md-5" style="background-color: #182b99">
    <mat-card>
      <div>
        <h2>Update Consumer Business Details</h2>
      </div>

      <form #consumerForm="ngForm">
        <span>
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Consumer Id </mat-label>
            <input
              name="cid"
              #cid="ngModel"
              [(ngModel)]="consumer.id"
              matInput
              placeholder="Consumer Id"
              required
            />

            <mat-hint class="text-danger" *ngIf="cid.invalid && cid.touched"
              >Please enter valid input</mat-hint
            >
          </mat-form-field>
        </span>

        <div class="create-button">
          <button
            (click)="updateConsumer(consumer.id)"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Update
          </button>
        </div>
      </form>
    </mat-card>
  </div>

  <div class="col-md"></div>
</div>
