<h1 class="heading">Policy Administration System</h1>

<div class="row">
  <div class="col-md"></div>

  <div class="col-md-5" style="background-color: #182b99">
    <mat-card>
      <div>
        <h2>View Quotes</h2>
      </div>

      <form #consumerPolicyForm="ngForm">
        <!-- {{ consumer | json }} -->
        <!-- <div *ngIf="alert" class="alert alert-danger" role="alert">
          <!-- {{msg}} -->
        <!-- </div> -->

        <p>
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Business Value :</mat-label>
            <input
              name="businessvalue"
              #businessvalue="ngModel"
              [(ngModel)]="quotes.businessValue"
              matInput
              placeholder="Business value"
              required
            />

            <mat-hint
              class="text-danger"
              *ngIf="businessvalue.invalid && businessvalue.touched"
              >Please enter valid input</mat-hint
            >
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Property Value :</mat-label>
            <input
              name="propertyvalue"
              #propertyvalue="ngModel"
              [(ngModel)]="quotes.propertyValue"
              matInput
              placeholder="Property Value "
              required
            />

            <mat-hint
              class="text-danger"
              *ngIf="propertyvalue.invalid && propertyvalue.touched"
              >Please enter valid input</mat-hint
            >
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Property Type :</mat-label>
            <input
              name="propertytype"
              #propertytype="ngModel"
              [(ngModel)]="quotes.propertyType"
              matInput
              placeholder="Property Type"
              required
            />

            <mat-hint
              class="text-danger"
              *ngIf="propertytype.invalid && propertytype.touched"
              >Please enter valid input</mat-hint
            >
          </mat-form-field>
        </p>
        <h3>Quotes : {{ msg }}</h3>
        <div class="create-button">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            (click)="
              viewQuotes(
                quotes.businessValue,
                quotes.propertyValue,
                quotes.propertyType
              )
            "
          >
            View
          </button>
        </div>
      </form>
    </mat-card>
  </div>

  <div class="col-md"></div>
</div>
